
@font-face {
  font-family: 'roboto',sans-serif;
  src: url('assets/fonts/lacquer-regular.ttf') format('ttf'),
       url('assets/fonts/lacquer-regular.ttf') format('ttf');
  font-style: normal;
}

.body-text {
  font-size: 18px;
  line-height: 1.4;
  font-family: 'roboto', sans-serif;
}

.title {
  font-size: 34px;
  line-height: 1.2;
  font-family: 'roboto', sans-serif;
}

.small-title {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.2;
  letter-spacing: 1px;
  font-family: 'roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.col {
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
} 