/*
  Coding from Life – Sketch 2: fluid layout

  For sketch 2 you'll be positioning elements relative to a fluid container. This
  means you'll need to use percentages when positioning and sizingelements within
  your frame.
*/


body {
  background-color: black;
}

.frame {
  width: 95vw;
  height: 57vw;
  background: white;
  margin: 2.5vw auto;
  position: relative;
}


.book1 {
      width: 10%;
      height: 20%;
      background: #F3F2ED;
      position: relative;
      top: 38%;
      left: 25%;
    }
.book2 {
      width: 10%;
      height: 4%;
      background: #3F3C31;
      position: relative;
      top: 36%;
      left: 50%;
}
.book3 {
      width: 10%;
      height: 4%;
      background: #696762;
      position: relative;
      top: 28%;
      left: 52%;
}
.vase{
      width: 10%;
      height: 10%;
      background: red;
      position: relative;
    }
    #octagon:before {
      content: "";
      width: 10%;
      height: 0;
      position: relative;
      top: 0;
      left: 10%;
      border-bottom: 29vw solid red;
      border-left: 29vw solid #eee;
      border-right: 29vw solid #eee;
    }
    #octagon:after {
      content: "";
      width: 100px;
      height: 0;
      position: relative;
      bottom: 0;
      left: 10%;
      border-top: 29vw solid red;
      border-left: 29vw solid #eee;
      border-right: 29vw solid #eee;
    }  


    .table {
      width: 70%;
      height: 44%;
      background: #D3D2D2;
      position: relative;
      top: 10%;
      left: 10%;
 }

 .catbody{
      width: 7%;
      height: 7%;
      background: red;
      border-radius: 30% / 10%;
      position: relative;
      left:40%;
      top:26%;
    }
 .cathead{
      width: 7%;
      height: 9%;
      background: red;
      border-radius: 60%;
      position:relative;
      top:11%;
      left:40%;
 }
.camera{
      width: 4%;
      height: 5%;
      background: #000000;
      position: relative;
      left: 65%;
      top: 12%;
    }
}


/* Your CSS goes here */
